<configuration>
    <system.webServer>
	<rewrite>
	    <rules>
	        <rule name="rule 1J" stopProcessing="true">
	  	    <match url="^(.+)$"  />
		    <conditions>
		    <add matchType="IsFile" negate="true" />
		    </conditions>
		    <action type="Rewrite" url="/index.php?url={R:1}"  appendQueryString="true" />
		</rule>
  	    </rules>
	</rewrite>
    </system.webServer>
</configuration>